
.mainEditField{
    border: solid 1px black;
    border-radius:10px;
    width: 30rem;
    margin:0 auto;
    label{
        display: block;
    }
    .linkMainPage{ 
        border:none;
        padding:6px;
        border-radius: 6px;
        margin-left:5px;
        color:white;
        background-color:#18304ec2;
        font-weight: 600;
        cursor:pointer;    
    }
    .upperSection{
        display: flex;
        justify-content: space-between;
        .idSection{
            margin-top:15px;
            margin-left:10px;
            label:nth-of-type(1){
                font-weight: 600;
                margin-bottom: 5px;
            }
            #idField{
                font-size: 14px;
                width: 150px;
            }
        }
        .statusField{  
            .statusIndicator{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top:15px;
                margin-right:10px;
                label:nth-of-type(1){
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                .statusMark{
                    width: 12px;
                    height: 12px;
                    background-color: green;
                    border-radius: 50%;
                    margin-bottom: 5px;
                    margin-left:10px;
                } 
            }
            .statusSelect{
                font-size: 13px;
            }
        }   
    }
    .middleSection{
        display: flex;
        align-items: center;
        margin-top:12px;
        margin-left:10px;
        label:nth-of-type(1){
            font-weight: 600;
            margin-bottom: 5px;
        }
        #taskField{
            font-size: 14px;
            width: 150px;
        }
    }
    .lowerSection{
        display: flex;
        justify-content: space-between;
        margin-top:12px;
        label:nth-of-type(1){
            font-weight: 600;
            margin-bottom: 5px;
        }
        .startDate{
            margin-left:10px;
            #startDateField{
                font-size: 13px;
                width: 150px;
            }
        }
        .endDate{
            margin-right:10px;
            #finishDateField{
                font-size: 13px;
                width: 150px;
            }
        }
    }

    .button{
        border:none;
        padding:6px;
        border-radius: 6px;
        margin-top:15px;
        margin-bottom: 10px;
        margin-left:10px;
        cursor:pointer;
    }
    .buttonAdd{
        background-color: #4575cc;
        color:white;
        font-weight:600;
    }
    .buttonEdit{
        background-color: #37ab60;
        font-weight:600;
        color:white;
    }
}

