
.cardBox{
    border: solid 1px black;
    border-radius: 5px;
    margin-top:5px;
    .upperSection{
        display: flex;
        justify-content: space-between;
        .idField{
            p:nth-of-type(1){
               margin: 0px;
               margin-left: 10px; 
               margin-top:10px;
               font-weight: 600;
            }
            p:nth-of-type(2){
                margin: 0px;
                margin-left: 10px;
                margin-top:10px;
            }
        }
        .statusField{  
            .statusIndicator{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .statusLabel{
                    margin: 0px;
                    margin-top:10px;
                    font-weight: 600;
                }
                .statusMark{
                    margin: 0px;
                    margin-top:10px;
                    width: 12px;
                    height: 12px;
                    background-color: green;
                    border-radius: 50%;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
            .statusSelect{
                margin: 0px;
                margin-top:10px;
                font-size: 14px;     
            }
        }   
    }
    .middleSection{
        display: flex;
        justify-content: space-between;
        p:nth-of-type(1){
            margin:0rem;
            margin-top:15px;
            margin-left:10px;
            font-weight: 600;

        }
        p:nth-of-type(2){
            margin:0rem;
            margin-top:10px;
            margin-left:10px;
            text-decoration: underline;
        }

    }
    .lowerSection{
        display: flex;
        justify-content: space-between;
        .startDate{
            p:nth-of-type(1){
                margin:0px;
                margin-left: 10px;
                margin-top:15px;
                font-weight: 600;
            }
            p:nth-child(2){
                margin:0px;
                margin-left:10px;
                margin-top:10px;
                font-size: 14px;
            }
        
        }
        .endDate{
            p:nth-of-type(1){
                margin:0px;
                margin-right: 10px;
                margin-top:15px;
                font-weight: 600;
            }
            p:nth-of-type(2){
                margin:0px;
                margin-right:10px;
                margin-top:10px;
                font-size: 14px;
            }
        }
    }
    .buttons{
        margin-top:15px;
        margin-bottom: 5px;
        button:nth-of-type(1){
            margin-left:4px;
            background-color: #ce5353;
            color:white;
            font-weight:600;
        }
        button:nth-of-type(2){
            margin-left:8px;
            background-color: #37ab60;
            color:white;
            font-weight:600;
        }
    }
}

.buttonsStyle{
    border:none;
    padding:6px;
    border-radius: 6px;
    cursor:pointer;
}
